.chat {
  display: flex;
  flex-direction: column;
  border: solid #11140f;
  width: 400px;
  height: 500px;
  overflow: auto;
  margin: 10px;
}

.leftMessage {
  position: relative;
  width: 70%;
  padding-left: 20px;
  margin: 10px;
  font-size: 12px;
  background-color: #4db8ff;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
}

.leftMessage small {
  position: relative;
  left: 80%;
}


.rightMessage {
  width: 70%;
  margin: 10px;
  font-size: 12px;
  background-color: #ccf2ff;
  margin-left: 30%;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
}

.rightMessage small {
  position: relative;
  left: 80%;
}

.chatBlock {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.chatBlock p:hover {
  cursor: pointer;
}

.chatBlock button {
  width: 100px;
}

