@media only screen and (max-width: 600px) {

  
.img22{
    background-image: url("../images/party.jpg");
    background-size: cover;
}
.img33{
    background-image: url("../images/friends.jpg");
    background-size: cover;
}
.img11{
  background-image: url("../images/chess.jpg");
  background-size: cover;                                                                                                                                                                                                                                                                                                                                                     
}
.img11 div, .img22 div, .img33 div{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255,255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text-panel {
  padding: 0;

}
.text-panel p{
  padding: 0 30px;

}
.img1{
  display: none;
}
.img2{
  display: none;
}
.img3{
  display: none;
}
}

@media only screen and (max-width: 600px) {
    
    .login-page-container, .register-page-container {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 20px;
        box-shadow: none;
        
      }
      .roomListItem a{
        width: 100px;
      }
      .login-page-container *, .register-page-container * {
        margin-bottom: 20px !important;
      }

      .login-page-container input, .register-page-container input {
        width: 100%;
        
      }
      .gamesListItem {
        margin: 50px;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        box-shadow: 8px 8px 24px 0px rgb(66 68 90);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .panel-left-side, .panel2-right-side {
      width: 100%;
      height: 260px;
  }

      .roomListItem {
        flex-direction: column;
        border-radius: 10px;
        margin: 20px 0;
        display: flex;
        width: 100%;
        padding: 10px;
        box-shadow: 8px 8px 24px 0px rgb(66 68 90);
        justify-content: center;
        align-items: center;
    }
    .left-row {
        width: 100%;
    }
    .left-row  *{
        margin-bottom: 10px !important;
    }
    .game p{
        text-align: center;
    }
    .other-info p{
        text-align: center;
    }
    .room-page-info {
        margin: 20px 0;
        flex-direction: column;
        }
    .room-page-info p{
        text-align: center;
        margin-bottom: 10px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .meetingInfo {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px;
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        height: inherit;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
      }

      .meetingInfo p{
        width: 100%;
        text-align: center;
      }
      .room-container .room-title p{
        font-size: 12pt;
      }
      .meeting-form {
        width: 100%;
        box-shadow: none;
      }







}
