.roomListItem{
    border-radius: 10px;
    margin: 20px;
    display: flex;
width: 44%;
padding: 10px;
-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.button a {
    
    width: 100px;
    height: 40px;
    text-align: center;
    
    color: #fff;
   
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, yellow, orange, red,yellow);
    background-size: 400%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.roomListItem a{
    width: 100%;
}

.room-list{
    width: 90%  ;
    display: flex;
    flex-wrap: wrap;
}
.room-list h1{
    width: 100%;
    text-align: center;
}

.left-row{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.title{
    text-align: center;
}
.game{
    display: flex;
}
.game p{
    width: 50%;
}
.other-info{
    display: flex;
}
.other-info p{
    width: 50%;
}
.button {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  .button a:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
