.room-title p{
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.room-page-info{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.member-list-items{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}
.member-list-title p{
    text-align: center;
}
.member-list{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.member-list-items p{
    width: 50%;
    text-align: center;
}